body {
    background-color:#ffffff;
    color:#1b0d49;
    font-family:Arial;
}

p {
    font-size:18px;
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
    margin-bottom:1%;
}

h1.top {
    color:#000000;
    text-align:center;
}

p.code {
    color:#000000;
    font-family:Monospace;
}

div.top {
    background-color:#4300fb;
    padding:5px;
}

div.coding {
    margin-left:20%;
    margin-right:20%;
    background-color:#ccc9d4;
    border-left: 6px solid #1f1982;
}

div.button {
    color:#ffffff;
    text-align:center;
    background-color:#537ce6;
    border-bottom: 3px #000000 solid;
    margin-left:30%;
    margin-right:30%;
    margin-top:7%;
    margin-bottom:7%;
    padding-top:2px;
}

a {
    font-family:Trebuchet MS;
    color:#ffffff;
}
